# AI Integration
GEMINI_API_KEY=

# Instagram API
VITE_INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=
APP_URL=https://ais-dev-ezc6x4orgdpwzhhcjdxqzz-377459881713.us-east1.run.app

# Stripe API
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=