# AI Integration
GEMINI_API_KEY=

# Instagram API
VITE_INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=
# App Domain
APP_URL=https://sua-url-de-producao.com
API_URL=https://sua-url-de-producao.com

# Stripe API
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
VITE_STRIPE_PUBLIC_KEY=
STRIPE_PRICE_PRO_MONTHLY=
STRIPE_PRICE_BUSINESS_MONTHLY=
STRIPE_PRICE_PREMIUM_MONTHLY=
STRIPE_PRICE_PRO_YEARLY=
STRIPE_PRICE_BUSINESS_YEARLY=
STRIPE_PRICE_PREMIUM_YEARLY=

# Turnstile
VITE_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# Firebase Admin SDK
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_SERVICE_ACCOUNT=